.nav-purchase-wrap {
  display: flex;
  justify-content: space-between;
  margin-top:48px;
  font-size: 34px;
  color: #666;
  .active {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 40px;
    color: #3ba9db;
    border-bottom:4px solid #3ba9db;
  }
}